<style type="text/css">
	
	.omb_login .omb_authTitle {
	    text-align: center;
		line-height: 300%;
	}
	
</style>



<div class="container">
	<form action="/create" method="post">
		<h3 class="omb_authTitle">Create News</h3>
		<div class="form-group">
	  		<label for="usr">Title:</label>
	  		<input type="text" name="title" class="form-control" id="usr">
		</div>
		<div class="form-group">
	  		<label for="pwd">Description:</label>
	  		<textarea name="desc"  class="form-control" rows="3"></textarea>
		</div>
		{{#if message}}
			<span class="help-block">{{message}}</span>
		{{/if}}
		<button type="submit" class="btn btn-lg btn-primary btn-block">Save</button>
	</form>
</div>