<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='bower_components/jquery/dist/jquery.js'></script>
  </head>
  
  <body>
  
    <div class="header">
      <h1>{{title}}</h1>
      <span><a href="/">Home</a> | <a href="/login">Login</a> | <a href="/view">View News</a> | <a href="/create">Create News</a> </span>
       {{#if user}}
       <div></div>{{user.local.email}} | <a href="/logout">Logout</a>
       {{/if}}
    
     <hr>
    </div>
    <div class="main">
      <h3>{{header}}</h3>

      <div class="container">
        {{{body}}}
      </div>
     </div>
    <div class="footer">
        <div><a href="/">About</a> | <a href="/">Faqs</a> | <a href="/">Help</a> | <a href="/">Other</a></div>
        <div>mpalomo@cambridge.org</div>

    </div>

  </body>

 
</html>
