
<style type="text/css">
	
	.omb_login .omb_authTitle {
	    text-align: center;
		line-height: 300%;
	}
	
</style>



<div class="container">

	<form action="/signup" method="post">
		<h3 class="omb_authTitle">Signup</h3>
		<div class="form-group">
	  		<label for="usr">Username:</label>
	  		<input type="text" name="email" class="form-control" id="usr">
		</div>
		<div class="form-group">
	  		<label for="usr">Password:</label>
	  		<input type="text" name="password" class="form-control" id="usr">
		</div>
		{{#if message}}
			<span class="help-block">{{message}}</span>
		{{/if}}
		<button type="submit" class="btn btn-lg btn-primary btn-block">Save</button>
	</form>
</div>