
<div class="container">
    {{#if newsList}}
        {{#each newsList}}
            <div class="panel panel-primary">
                <div class="panel-heading">
                <h3 class="panel-title">{{this.title}}</h3>
                </div>
                <div class="panel-body">
                {{this.desc}}
                </div>
            </div>
         {{/each}}
    {{else}}
        <li>No News Yet!</li>
    {{/if}}

</div> 
