body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #00B7FF; }

.header {
  position: relative;
  height: 40px;
  max-width: 100%; }

.footer {
  position: absolute;
  bottom: 5px; }

.main {
  position: relative;
  margin-top: 70px; }

.error {
  color: red; }

/*# sourceMappingURL=style.css.map */